<!--from Hans, modified-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
  <title>Thesis Recommendation System</title>
</head>

<body>
  <div class="container mt-5">
    <h1 class="text-center mb-5">Thesis Recommendation System</h1>
    <p class="text-center mb-5"><i>"Empowering academic pursuits with tailored thesis recommendations."</i></p>
    
    <form class="form-inline justify-content-center">
      <div class="d-grid gap-2 d-md-block">
        <a href="/bykeyword" role="button" class="btn btn-outline-primary btn-lg mr-3" data-toggle="tooltip" data-placement="bottom" title="Get recommendation by keywords">Keywords</a>

        <a href="/byacademicprofile" role="button" class="btn btn-outline-primary btn-lg" data-toggle="tooltip" data-placement="bottom" title="Get recommendation by your academic profile">Academic Profile</a>
      </div>
    </form>

  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>